extends layout

block content
  .main.container
    - var indexGlobal = 0
    p you are here to edit variaton, be happy
    p= result.name


    each variation,index in result.variation
      - indexGlobal = index + 1
      - action = `/manager/editAny/${data.collection}/${data.field}/${result._id}/${indexProduct}`
      form(method='POST' action=action)  
        .row           
          
          label= "Product category: " + variation

          .col
            input.form-control(name='value' type='string')
          .col
            button.btn.btn-primary(type='submit') تعديل


    - action = `/manager/editAny/${data.collection}/${data.field}/${result._id}/0`
    form(method='POST' action=action)  
      .row           
        
        label= "Product Variation: " + 0 + " (more)"

        .col
          input.form-control(name='value' type='string')
        .col
          button.btn.btn-primary(type='submit') تعديل
